HAIUN_IMAGE=haiun:local
HAIUN_PYPI_INDEX_URL=https://pypi.org/simple
HAIUN_BUILD_NETWORK=default
HAIUN_HTTP_PROXY=
HAIUN_HTTPS_PROXY=
HAIUN_NO_PROXY=localhost,127.0.0.1
HAIUN_SIMPLE_PORT=8765
HAIUN_METRICS_ENABLED=false
HAIUN_DATA_VOLUME=haiun-data
HAIUN_CONFIG_DIR=./config
HAIUN_TRUSTED_PROXIES_FILE=./deploy/nginx/trusted-proxies.default.conf
HAIUN_LOKI_VOLUME=haiun-loki
HAIUN_PROMETHEUS_VOLUME=haiun-prometheus
HAIUN_GRAFANA_VOLUME=haiun-grafana
HAIUN_EDGE_NETWORK=haiun-edge
HAIUN_MONITORING_NETWORK=haiun-monitoring
GRAFANA_ADMIN_PASSWORD=
